In [56]:
# Ch02.ipynb
# 2.2 Variables and Assignment Statements

45 + 72

117

In [57]:
x = 7
y = 3
x + y

10

In [58]:
total = x + y
total

10

In [59]:
# Types
type(x)

int

In [60]:
type(10.5)

float

In [64]:
# 2.3 Arithmatic

# Multipilcation (*)
7 * 4

28

In [80]:
# Exponentiation (**)
2 ** 10

1024

In [66]:
# Square Root
9 ** (1 / 2)

3.0

In [68]:
# True Division (/) vs. Floor Division (//)

# True Division (/)
7 / 4

1.75

In [69]:
# Floor Division (//)
7 // 4

1

In [73]:
3 // 5

0

In [74]:
14 // 7

2

In [76]:
# True Division (/)
-13 / 4

-3.25

In [77]:
# Floor Division (//)
-13 // 4

-4

In [78]:
# Execptions and Tracebacks
123 / 0

ZeroDivisionError: division by zero

In [81]:
123 // 0

ZeroDivisionError: integer division or modulo by zero

In [82]:
123 % 0

ZeroDivisionError: integer division or modulo by zero

In [83]:
z + 7

NameError: name 'z' is not defined

In [84]:
# Remainder Operator (%)
17 % 5

2

In [85]:
7.5 % 3.5

0.5

In [86]:
# Grouping Expressions with Parantheses
10 * (5 + 3)

80

In [87]:
10 * 5 + 3

53

In [ ]:
# Operator Precedence Rules

# 1) Parentheses (innermost first)
# 2) Exponentiation (right to left)
# 3) Multiplication, Division and Modulus (left to right)
# 4) Addition and Substraction (left to right)

In [ ]:
# Operand Types

# 1) integer & integer --> integer (except in true division which yields floating-point number always)
# 2) float & float --> float
# 3) integer & float --> float (mixed-type expressions)

In [3]:
# Self Check

# 3)
3 * (4 - 5)

-3

In [4]:
3 * 4 - 5

7

In [5]:
# 4)
4 ** 3 ** 2

262144

In [6]:
(4 ** 3) ** 2

4096

In [7]:
4 ** (3 ** 2)

262144

In [1]:
# 2.4 Function 'print' and an Intro to Single- and Double-Quoted Strings

print('Welcome to Python!')
print("Welcome to Python!")

Welcome to Python!
Welcome to Python!

In [2]:
# Printing a Comma-Separated List of Items
print('Welcome', 'to', 'Python!')

Welcome to Python!

In [3]:
# Printing Many Lines of Text with One Statement
print('Welcome\nto\n\nPython!')

Welcome
to

Python!

In [ ]:
# Other Escape Sequences

# 1) \n --> new line
# 2) \t -- > horizontal tab
# 3) \\ -- > backslash character
# 4) \" --> double quote character
# 5) \' --> single quote character

In [5]:
# Ignoring a Line Break in a Long String ('\' at the end of the line)
print('this is a longer string, so we \
split it over two lines')

this is a longer string, so we split it over two lines

In [6]:
# Printing the Value of an Expression
print('Sum is', 7 + 3)

Sum is 10

In [7]:
# Self Check

# 3)
type('word')

str

In [8]:
# 4)
print('int(5.2)', 'truncates 5.2 to', int(5.2))

int(5.2) truncates 5.2 to 5

In [ ]:
# 2.5 Triple-Quoted Strings (''' / """)

# 1) Multiline strings
# 2) Strings containing single or double quotes
# 3) docstrings

In [9]:
# Including Quotes in Strings
print('Display "hi" in quotes.')

Display "hi" in quotes.

In [10]:
print('Display 'hi' in quotes.')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (534997231.py, line 1)

In [12]:
print('Display \'hi\' in quotes.')

Display 'hi' in quotes.

In [13]:
print("Display the name O'Brien.")

Display the name O'Brien.

In [14]:
print("Display \"hi\" in quotes.")

Display "hi" in quotes.

In [15]:
print("""Display "hi" and 'bye' in quotes""")

Display "hi" and 'bye' in quotes

In [20]:
# Multiline Strings
triple_quoted_string = """This is a triple-quoted
string that spans two lines."""
print(triple_quoted_string)

This is a triple-quoted
string that spans two lines.

In [21]:
triple_quoted_string

'This is a triple-quoted\nstring that spans two lines.'

In [22]:
# Self Check

# 2)
print("""This is a lengthy
    multiline string containing
a few lines \
of text.""")

This is a lengthy
    multiline string containing
a few lines of text.

In [23]:
# 2.6 Getting Input from the User

name = input("What's your name? ")

In [24]:
name

'G. Rajesh Ganesh'

In [25]:
print(name)

G. Rajesh Ganesh

In [1]:
name = input("What's your name? ")

In [2]:
name

"'G. Rajesh Ganesh'"

In [4]:
print(name)

'G. Rajesh Ganesh'

In [5]:
# Function 'input' Always Returns a String
value1 = input('Enter first number: ')

In [6]:
value2 = input('Enter second number: ')

In [7]:
value1 + value2

'53'

In [8]:
# Getting an Integer from the User
value = input('Enter an integer: ')

In [9]:
value = int(value)

In [10]:
value

4

In [11]:
another_value = int(input('Enter another integer: '))

In [12]:
another_value

8

In [13]:
value + another_value

12

In [14]:
bad_value = int(input('Enter another integer: '))

ValueError: invalid literal for int() with base 10: 'hello'

In [15]:
int(10.5)

10

In [ ]:
# To convert strings to floating-point numbers, use the built-in 'float' function.

In [16]:
# Self Check

# 3)
float('6.2') * 3.3

20.46

In [4]:
# 2.7 Decision Making: The 'if' Statement and Comparison Operators
7 > 4

True

In [5]:
7 < 4

False

In [6]:
7 > = 4

SyntaxError: invalid syntax (3689856183.py, line 1)

In [9]:
7 =! 4

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2462057656.py, line 1)

In [1]:
# See fig02_01.py
# Chaining Comparisions
x = 3
1 <= x <= 5

True

In [3]:
x = 10
1 <= x <= 5

False

In [ ]:
# Precedence of the Operators We've Presented So Far

# Operators           Grouping            Type
# --------------------------------------------------------------------------------------------------------------------------------
# ()                  left to right       parentheses
# **                  right to left       exponentiation
# *, /, //, %         left to right       multiplication, true division, floor division, remainder (mod)
# +, -                left to right       addition, subtraction
# <, <=, >, >=        left to right       less than, less than or equal, greater than, greater than or equal
# ==, !=              left to right       equal, not equal

In [5]:
# Self Check

# 3)
7 =< 10

SyntaxError: cannot assign to literal (3186622662.py, line 4)

In [6]:
print(5 < 9, 5 <= 9, 5 > 9, 5 >= 9, 5 == 9, 5 != 9)

True True False False False True

In [1]:
# 2.8 Objects and Dynamic Typing

type(7)

int

In [2]:
type(4.1)

float

In [3]:
type('dog')

str

In [9]:
# Variables Refer to Objects
x = 7
x + 10

17

In [10]:
x

7

In [11]:
x = x + 10
x

17

In [12]:
# Dynamic Typing
type(x)

int

In [13]:
x = 4.1
type(x)

float

In [14]:
x = 'dog'
type(x)

str

In [ ]:
"""Garbage Collection - Automatically removes unused objects from memory and 
hence helps ensure that memory is available for new objects we create."""

In [15]:
# Self Check

# 3)
type(7.5 * 3)

float

In [ ]:
# 2.9 Intro to Data Science: Basic Descriptive Statistics

# Descriptive Statistics
# 1) minumum - the smallest value in a collection of values.
# 2) maximum - the largest value in a collection of values.
# 3) range - the range of values from minimum to the maximum.
# 4) count - the number of values in a collection.
# 5) sum - the total of values in a collection.

In [ ]:
# Determining the Minimum of Three Values
# See fig02_02.py

In [16]:
# Determining the Minimum and Maximum with Built-In Functions min and Max
min(36, 27, 12)

12

In [17]:
max(36, 27, 12)

36

In [ ]:
# Determining the Range of a Collection of Values
# Data Distributions

# Funcitonal-Style Programming: Reduction

In [18]:
# Self Check

# 2)
min(47, 95, 88, 73, 88, 84)

47

In [19]:
max(47, 95, 88, 73, 88, 84)

95

In [24]:
print('Range:', min(47, 95, 88, 73, 88, 84),'-',max(47, 95, 88, 73, 88, 84))

Range: 47 - 95

In [28]:
# 2.10 Wrap-Up

# 2.1)
x = 2
y = 3

print('x =', x)

x = 2

In [26]:
print('value of', x, '+', x, 'is', (x + x))

value of 2 + 2 is 4

In [27]:
print('x =', x)

x = 2

In [29]:
print((x + y), '=', (y + x))

5 = 5

In [ ]:
# 2.2)
rating = int(input('Enter an integer rating between 1 and 10'))

In [31]:
# 2.3)
grade = 91

if grade >= 90:
    print('Congratulations! Your grade of', grade, 'earns you an A in this course.')

Congratulations! Your grade of 91 earns you an A in this course.

In [32]:
# 2.4)
27.5 + 2

29.5

In [33]:
27.5 - 2

25.5

In [34]:
27.5 * 2

55.0

In [35]:
27.5 / 2

13.75

In [36]:
27.5 // 2

13.0

In [37]:
27.5 ** 2

756.25